<?xml version="1.0"?>
<model>
  <name>a_100</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Palomba Saturno Vestri</name>
  </author>
  <description>Custom UAV model a_100 based on x500_base quadcopter for Robotics Lab homework. This model is a quadrotor configuration with standard sensors for autonomous flight.</description>
</model>
